@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

* {

    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family:"Playfair Display", "Open Sans", sans-serif;
    background-image: url('../images/modern.png');
    background-size: cover;
    background-color: #c6c1b7;
    font-size: 18px;
}

/* The header with a quote */

.quote {

    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #ffd600fc;
    padding: 2% 2% 2%;
    background-color: hsl(0deg 80% 23% / 57%);
}

.quote span {

    font-size: 15px;
}


/* The parent div for to do app */

.todo {

    display: flex;
    flex-direction: column;
    border: 3px inset #ffd600fc;
    align-items: center;
    margin: 10% 20% 2%;
    border-radius: 10px;
    background-color: #c6c1b7;
}

/* My Day and Date */

#title {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    padding: 5% 0 5% 0;
    width: 100%;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    background-color: #167175;
    color:#ffd600fc;
    border-radius: inherit;
    font-weight: bold;
}

#title p {

    margin-right: 3%;
}

.day {

    color: #7f1313;
}

/* Input text and submit button */

#type {

    display: flex;
    justify-content: space-between;
    margin: 4% 0 2% 0;
    padding: 1% 0 1% 0;
    width: 100%;
    height: 40px;
    align-items: center;
    background-color:#167175;
    color:  #7f1313;
    border-radius: 5px;
}

#text {

    width: 70%;
    height: 85%;
    font-size: 1em;
    margin-left: 3%;
    padding-left: 10px;
    background-color: #f2efe9;
    cursor: pointer;
    border-radius: 5px;
    color:  #7f1313;
}

textarea:focus, input:focus{

    outline: none;
}

#text:hover {

    background-color: #ffd600fc;
}

::placeholder{

    font-size: 16px;
    font-style: italic;
}

#add {

    margin: 0 8% 0 2%;  
    border-radius: 50%; 
    background-color: #167175;
}

.fa-plus {
    
    font-size: 40px;
    color: #ffd600fc;
    cursor: pointer;
}

/* The List with Tasks */

#tasks {

    width: 100%;
    margin-bottom: 2%; 
    min-height: 120px;
}


.test{

    margin: 20px 30px 20px 30px;
    padding: 1% 0 1% 0;
}

.list {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #7f1313;
    color: #ffd600fc;
    padding: 25px;
    margin-bottom: 1%;
    font-size: 18px;
}

.list li {

    margin: 0 8px 15px 0;
    list-style-type: circle;
}

.list button {

    background: none;
    border: none;
}

.fa-trash-alt {

    color:  #ffd600fc;
    margin: 0 8px 8px 0; 
    font-size: 18px;
    cursor: pointer;  
}

.fa-check {

    color: #ffd600fc;
    margin: 0 8px 8px 0;
    font-size: 18px;
    cursor: pointer;
}

/* 
    ##Device = Low resolution Tablets, Mobile (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .todo {
        margin: 20% 10% 2%;
    }

    .list {
        background-color: #167175;
    }

    body {
        background-color: #c6c1b7;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .todo {
        margin: 20% 10% 2%;
    }

    .list {
        background-color: #167175;
    }

    body {
        background-color: #c6c1b7;
    }

}